# Ignore data files
data/
*.csv
*.xlsx

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
venv/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db